<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to Packard Video Locator Tool 2.0</h1>
    <p>You can videos and subtitles here. </p>

    <form id="myForm" method="POST" enctype="multipart/form-data" action="/upload">
        <!-- HTML5 file upload selector-->
        <label>Video or document</label>
        <input type="file" name="fileupload">
        <br>
        <label >SRT File:</label>
        <input type="file" name="fileupload2">
        <br>
        <label>Title (Default is the name of the video)</label>
        <br> 
        <input type="text" id="Title" name="title" >
        <br> 
        <label >Thumbnail</label>
        <input type="file" name="fileupload3">
        <br>
        <label>Description:</label>
        <br>
        <textarea id="descriptionBox" name="description" rows="4" cols="50"></textarea>
        <br>
        <label>Date of Media</label>
        <input type="text" id="fname" name="dateOfMedia" >
        <br> 
        <input type="submit">
      </form>
      
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
